################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Codecool.DungeonCrawl
/src/Codecool.DungeonCrawl/.vs/Codecool.DungeonCrawl
/src/Codecool.DungeonCrawl/bin/Debug/netcoreapp3.0
/src/Codecool.DungeonCrawl/obj/Debug/netcoreapp3.0
/src/Codecool.DungeonCrawl/obj
/src/Codecool.DungeonCrawl/Codecool.DungeonCrawl.sln
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/runtimes
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/vk.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.StartupUtilities.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.SPIRV.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.SDL2.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.OpenGLBindings.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.MetalBindings.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.ImageSharp.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Veldrid.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/tiles.png
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/System.Runtime.CompilerServices.Unsafe.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SixLabors.ImageSharp.Drawing.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SixLabors.ImageSharp.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SixLabors.Fonts.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SharpDX.DXGI.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SharpDX.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SharpDX.Direct3D11.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/SharpDX.D3DCompiler.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/perlin.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Newtonsoft.Json.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/NativeLibraryLoader.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Microsoft.VisualBasic.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Microsoft.CodeAnalysis.VisualBasic.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Microsoft.CodeAnalysis.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/map.txt
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Codecool.DungeonCrawl.runtimeconfig.json
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Codecool.DungeonCrawl.runtimeconfig.dev.json
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Codecool.DungeonCrawl.pdb
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Codecool.DungeonCrawl.exe
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Codecool.DungeonCrawl.dll
/src/Codecool.DungeonCrawl/bin/Release/netcoreapp3.0/Codecool.DungeonCrawl.deps.json
